@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movie Origination System</h1>
    <p style="text-align:justify">
        Thanku to visit on my vwebsite.I am going to create website about movie origniation which will help you understand the every keyword of origination deatials.
        <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>
    <p style="text-align:justify">
        Film, also called movie, motion picture or moving picture, is a visual art-form used to simulate experiences that communicate ideas, stories, perceptions, feelings, beauty, or atmosphere through the use of moving images.
        These images are generally accompanied by sound, and more rarely, other sensory stimulations.
        The word "cinema," short for cinematography, is often used to refer to filmmaking and the film industry,
        and to the art form that is the result of it.
    </p>


    <img src="1.jpg" class="mx-auto d-block">
    <p style="text-align:justify">
        The film was originally called Double Feature and was based on an idea of Larry Gelbart. He pitched the project in 1975 and was successful at Universal. He says it took he and co writer Sheldon Keller six weeks to write the film and six months to get paid.[3] In June 1976 Universal announced Gelbart would write, direct and produce the film.[4]

        The studio disliked the script and allowed Gelbart to take it elsewhere. Gelbart showed it to Martin Starger, the American representative of Lew Grade. Both Starger and Grade loved the script; Grade had been a backer of Gelbart's Sly Fox and he agreed to finance Double Feature.[3]

        The budget was $6 million. Stanley Donen agreed to direct. Filming started in October 1977.
    </p>

    <p style="text-align:justify">
        It was decided to shoot the film using color stock which could be printed in black and white to give the filmmakers the option of showing the film in black and white or color. The title was changed to Movie Movie as it was felt Double Feature might be confusing. There were plans to include a Flash Gordon type serial but this was ultimately not filmed.[3]

        George C. Scott said "Gelbart is such a good writer and the picture was so much fun I was almost ashamed to take the money."
    </p>
    <img src="4.png" class="mx-auto d-block">

    <p style="text-align:justify">
        The film was extensively previewed. As a result of the preview, a newsreel used to open the film was dropped, along with a trailer for a fake movie. A new ending was shot for "Dynamite Hands" which took one day. A prologue was added starring George Burns where Burns explained what double features were.
    </p>


</div>
